body{
  margin:0;
  font-family: Arial;
  background:#f5f7fb;
}

/* APP LAYOUT */
.app{
  display:flex;
  height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:220px;
  background:linear-gradient(135deg, #10b981, #3b82f6);
  color:white;
  padding:15px;
  display:flex;
  flex-direction:column;
}

.sidebar h2{
  margin-bottom:15px;
}

.sidebar button{
  background:transparent;
  border:none;
  color:white;
  text-align:left;
  padding:10px;
  cursor:pointer;
  border-radius:8px;
}

.sidebar button:hover{
  background:rgba(255,255,255,0.2);
}

.logout{
  margin-top:auto;
  background:white !important;
  color:#10b981 !important;
}

/* MAIN */
.main{
  flex:1;
  padding:15px;
}

/* TOPBAR */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* SECTIONS */
.section{
  display:none;
  margin-top:15px;
}

.section.active{
  display:block;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}

.card{
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

/* BUTTONS */
.add{
  background:#10b981;
  color:white;
  padding:10px;
  border:none;
  border-radius:10px;
  margin-bottom:10px;
  cursor:pointer;
}

.withdraw{
  background:#3b82f6;
  color:white;
  padding:10px;
  border:none;
  border-radius:10px;
    }
